#header{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

#header-logo{
    margin-right: auto;
    text-align: center;
    color: white;
    font-weight: bold;
}

.header-links{
    color: #F9FAF8;
    padding-left: 10px;
    padding-right: 10px;
}

#header-logo, .header-links{
    display: flex;
    align-items: center;
}

#header-title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#header-text{
    font-size: 18px;
    color: #E5E7EB;
}

#header-button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 96px;
    height: 36px;
    margin-top: 12px;
    border-radius: 6px;
}

#howl-image{
    width: 100%;
}

.header-text-box{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px;
}

.header-list-item{
    list-style: none;
}