#header{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

#header-logo{
    margin-right: auto;
    text-align: center;
    color: white;
    font-weight: bold;
}

.header-links{
    color: #F9FAF8;
}

#header-logo, .header-links{
    display: flex;
    align-items: center;
}

#header-title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#header-text{
    font-size: 18px;
    color: #E5E7EB;
}

#header-button{

}

#howl-image{
    width: 100%;
}