.info-title{
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin-bottom: 48px;
}

.info-image{
    width: 150px;
    height: 150px;
    border: solid #3882F6 3px;
    border-radius: 3px;
}

.info-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.info-box{
    display: flex;
    flex-direction: column;
}

.card-holder{
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card-image{
    width: 100%;
}