*{
    border: 1px solid red;

}

body{
    margin: 0px;
}

#page-body{
    background-color: aqua;
    min-height: 100vh;
    min-width: 100%;
    margin: 0px;
    display:flex;
    flex-direction: column;
}

.flex-item{
    flex:1;
}

